{% extends 'user/base.html.twig'%}

{% block main %}
    {% for post in posts %}
    <div class="container border my-3 shadow p-3 mb-5 rounded bg-dark text-white text-center">

        <h2>{{ post.title }}</h2>

        <i>{{ post.description }}</i>
        <br>
        <br>
        {{ post.content |nl2br | u.truncate(300,'.....') }}
        <br>
        <br>
        <B>Date de publication :</B>
        {{ post.publishedAt | date('d/m/Y à H:i') }}
        <br>
        <br>
        <B>Catégorie :</B>
        {% for category in post.categories %}
            {{ category.name }}
        {% endfor %}
        <br>
        <br>
        <a href="http://symfony.iut/post/{{post.slug}}"class="text-warning mx-2">Voir le post </a>
        <a href="http://symfony.iut/comment/create/{{post.id}}"class="text-warning mx-2"> Commenter</a>
        <br>

        </div>
        <br>
    {% endfor %}
    {{knp_pagination_render(posts)}}
{% endblock %}

{% block sidebar %}
    {{ sidebar() }}
{% endblock %}